@model IEnumerable<DigitalPhotoPrintingEproject.Models.OrderTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.U_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Size_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Address)
        </th>
        <th>
         Frame Amount each
        </th>
        <th>
           Image Amount 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrameTable.f_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GelleryTable.mg_Image)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.U_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_Size_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrameTable.f_Price) Rs
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_TotalPrice) Rs
        </td>
        <td>
            <img src="@Url.Content(item.FrameTable.f_Image)" alt="Alternate Text" width="100">
        </td>
        <td>
         
            <img src="@Url.Content(item.GelleryTable.mg_Image)" alt="Alternate Text" width="100"></td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.o_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.o_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.o_Id })
        </td>
    </tr>
}

</table>
