@model DigitalPhotoPrintingEproject.Models.FrameTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FrameTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.f_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.f_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
